#create-new-project-form {
    display: flex;
    gap: var(--p1);
    align-items: flex-start;
    justify-content: space-between;
}

.text-input-wrapper {
    --gap: calc(var(--p1) * 0.5);

    display: flex;
    flex-direction: column;
    gap: var(--gap);
    justify-self: center;

    flex-basis: auto;
    flex-grow: 1;
}

.text-input-wrapper * {
    width: 100%;
}

.error-msg{
    color: var(--red-clr);
}


@media screen and (max-width: 340px) {
    #create-new-project-form{
        flex-direction: column;
        align-items: stretch;
    }

    .text-input-wrapper{
        min-width: 100%;
    }

}