* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-clr: #C78FFF;
    --secondary-clr: #FFAD82;
    --accent-clr: #FFD368;
    --accent-clr-dark: #c49a32;
    --text-clr-light: #f1e2ff;
    --text-clr-dark: #2F4858;
    --milk-clr: #e0e0e0;
    --white-clr: #ffffff;
    --white-clr-transparent: rgba(255, 255, 255, 0.5);
    --red-clr: #FF0000;
    --light-red-clr: #ca7676;
    --bg-clr: var(--primary-clr);

    --p1: 1rem;
    --p2: calc(var(--p1) * 2);

    --btn-p: var(--p1);

    --text-size-norm: var(--p1);
    --text-size-mid: calc(var(--p1) * 1.2);
    --text-size-lg: calc(var(--p1) * 1.5);


    --ff: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: var(--bg-clr);
    color: var(--text-clr-dark);
    font-family: var(--ff);
    height: 100vh;
}

#root{
    height: 100%;
}

a,
button {
    text-decoration: none;
}

p {
    font-weight: 200;
    font-size: var(--text-size-norm);
}

h1 {
    font-weight: 700;
    font-size: calc(var(--p1) * 2);
}

h3 {
    font-weight: 400;
}

h5 {
    color: var(--secondary-clr);
    font-weight: 400;
}

span {
    color: var(--primary-clr);
}

.btn,
input {
    cursor: pointer;
    border-radius: 5px;
    padding-inline: var(--btn-p);
    padding-block: calc(var(--btn-p) * 0.5);
    transition: all 150ms ease-in-out;
    border: none;
    outline: 1px solid transparent;
    font-size: var(--text-size-norm);
    font-family: var(--ff);
}

input[type="text"] {
    cursor: text;
}


.btn {
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.btn:hover {
    --hover-outline-clr: var(--white-clr-transparent);
    outline: 3px solid var(--hover-outline-clr);
}

input:focus {
    outline: 3px solid var(--white-clr-transparent);
}

/* large mobile */
@media screen and (max-width: 500px) {
    :root{
        --p1: calc(1rem * 0.9);
    }
}


