.error-container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-content: center;
    height: 100vh;
    gap: var(--p2);
    padding: var(--p2);
}

.error-msg{
    align-self: center;
}

.go-back-btn{
    align-self: center;
    background-color: var(--accent-clr);        
    color: var(--text-clr-dark);
}